[submodule "system"]
	path = system
	url = http://github.com/kohana/core.git
[submodule "modules/database"]
	path = modules/database
	url = http://github.com/kohana/database.git
[submodule "modules/auth"]
	path = modules/auth
	url = http://github.com/kohana/auth.git
[submodule "modules/oauth2"]
	path = modules/oauth2
	url = http://github.com/managedit/kohana-oauth2.git
[submodule "modules/uuid"]
	path = modules/uuid
	url = http://github.com/shadowhand/uuid.git
[submodule "modules/minion"]
	path = modules/minion
	url = http://github.com/kohana-minion/core.git
[submodule "modules/orm"]
	path = modules/orm
	url = http://github.com/kohana/orm.git
[submodule "modules/minion-tasks-migrations"]
	path = modules/minion-tasks-migrations
	url = http://github.com/kohana-minion/tasks-migrations.git
